#
# Shorewall version 4 - Rules File
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
######################################################################################################################################################################################################
#ACTION         SOURCE          DEST            PROTO   DEST    SOURCE          ORIGINAL        RATE            USER/   MARK    CONNLIMIT       TIME            HEADERS         SWITCH          HELPER
#                                                       PORT(S) PORT(S)         DEST            LIMIT           GROUP
?SECTION ALL
?SECTION ESTABLISHED
?SECTION RELATED
?SECTION INVALID
?SECTION UNTRACKED
?SECTION NEW
ACCEPT          net             $FW             icmp                                    #Permit ICMP
ACCEPT          net:0.0.0.0/0   $FW             tcp     22                              #Public SSH
HTTP/ACCEPT     net:0.0.0.0/0   $FW                                                     #Public HTTP
HTTPS/ACCEPT    net:0.0.0.0/0   $FW                                                     #Public HTTPS
ACCEPT          net:0.0.0.0/0   $FW             tcp     9292                            #Glance API
ACCEPT          net:0.0.0.0/0   $FW             tcp     8774                            #Nova API
ACCEPT          net:0.0.0.0/0   $FW             tcp     5000                            #Keystone API
ACCEPT          net:0.0.0.0/0   $FW             tcp     8773                            #Nova EC2 API
ACCEPT          net:0.0.0.0/0   $FW             tcp     9696                            #Neutron API
ACCEPT          net:0.0.0.0/0   $FW             tcp     8004                            #Heat API
ACCEPT          net:0.0.0.0/0   $FW             tcp     6080                            #noVNC
ACCEPT          net             $FW                     udp     1194                    #openvpn
DNAT            net             lan:172.16.17.21:80     tcp     80  -  136.243.196.2    #loadbalancer
