#
# Shorewall version 4 - Rules File
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
######################################################################################################################################################################################################
#ACTION         SOURCE          DEST            PROTO   DEST    SOURCE          ORIGINAL        RATE            USER/   MARK    CONNLIMIT       TIME            HEADERS         SWITCH          HELPER
#                                                       PORT(S) PORT(S)         DEST            LIMIT           GROUP
?SECTION ALL
?SECTION ESTABLISHED
?SECTION RELATED
?SECTION INVALID
?SECTION UNTRACKED
?SECTION NEW
ACCEPT          net             $FW             icmp                                    #Permit ICMP
ACCEPT          net:0.0.0.0/0   $FW             tcp     22                              #Public SSH
ACCEPT          net             $FW                     udp     1194                    #openvpn
DNAT            net             lan:172.16.17.20:80     tcp     80  -   178.63.3.51     #loadbalancer
