{
  "mailer": {
    "admin_gui": "{{ sensu_admin_gui_url }}",
    "mail_from": "{{ sensu_smtp_mailfrom }}",
    "mail_to": "{{ sensu_smtp_mailto }}",
    "smtp_address": "{{ sensu_smtp_addres }}",
    "smtp_port": "{{ sensu_smtp_port }}",
    "smtp_domain": "{{ sensu_smtp_domain }}"
  }
}
