server {
  listen         {{ ansible_eth0.ipv4.address }}:80;
  server_name    www.{{ site.1 }} {{ site.1 }};

  client_max_body_size 100M;
  port_in_redirect off;

  root /var/www/{{ site.1 }};
  index index.php index.html index.htm;

  location / { try_files $uri $uri/ /index.php?$args; }

  error_page 404 /404.html;
  error_page 500 502 503 504 /50x.html;

  location ~ \.php$ {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;

    fastcgi_pass 127.0.0.1:9000;
    fastcgi_index index.php;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
  }
  access_log  /var/log/nginx/{{site.1 }}.access.log;
  error_log   /var/log/nginx/{{ site.1 }}.error.log;
}
