{
  "client": {
    "name": "{{ ansible_fqdn }}",
    "address": "{{ ansible_default_ipv4.address }}",
    "subscriptions": {{ group_names | to_nice_json }},
    "keepalive": {
      "thresholds": {
          "warning": 120,
          "critical": 180
      },
      "handlers": ["mailer"]
    }
  }
}
